@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/12420e8c141ca7c3dff41de2d59df13e?family=Beaufort+for+LOL+Bold);
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-size: cover;
    text-rendering: optimizespeed;

}

.container {
    width: 700px;
    margin-top: 350px;
    margin-left: 150px;
}

.preview {
    font-family: sans-serif;
    color: rgb(200, 170, 110);
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    font-style: italic;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.name {
    color: rgb(255, 255, 255);
    text-wrap: balance;
    word-break: break-word;
    font-family: "PT Serif", serif;
    font-weight: 900;
    font-size: 100px;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1;

}

.bio {
    font-family: Spiegel, sans-serif;
    font-weight: 500;
    word-break: break-word;
    font-size: 18px;
    line-height: 26px;
    color: rgb(255, 255, 255);
}